<div ng-controller="demoController" class="canvas">
     <p class="btn btn-success new">Add Node</p>
   <!--   <p class="btn btn-danger stop">Stop Adding Nodes</p> -->
     <p class="btn btn-primary save" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Save MindMap</p>
     <br>
     <br>
    <div ng-hide="showText === false" class="input-group col-md-3">
      <input type="text" class="form-control" placeholder="Enter Text, then Click bubble to update">
      <span class="input-group-btn" ng-click="submit()">
      </span>
     <!--  <button class="btn btn-default" id="confirm" type="button">Confirm</button> -->
<!--     </div>
     <div ng-controller="AlertDemoCtrl"> 
          <alert type="success" close="closeAlert($index)">Message Saved</alert>
   </div>  -->
</div>
</div>
<script src="scripts/main.js"></script>
<script>
    root = treeData[0];
                update(root);
         centerNode(root);
</script>